asgiref==3.8.1
black==25.1.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
django==5.1.5
django-auto-logout==0.5.1
django-cors-headers==4.6.0
django-redis==5.4.0
django-user-sessions==2.0.0
django-xforwardedfor-middleware==2.0
djangorestframework==3.15.2
idna==3.10
mypy-extensions==1.0.0
mysqlclient==2.2.7
packaging==24.1
pathspec==0.12.1
pillow==11.1.0
platformdirs==4.3.6
python-decouple==3.8
pyzbar==0.1.9
redis==5.0.8
requests==2.32.3
sqlparse==0.5.1
urllib3==2.2.3
uwsgi==2.0.28 ; sys_platform == "linux"
whitenoise==6.8.1
