black
Django
django-auto-logout
django-cors-headers
django-redis
django-user-sessions
django-xforwardedfor-middleware
djangorestframework
mysqlclient
pillow
python-decouple
pyzbar
requests
whitenoise

uWSGI; sys_platform == 'linux'