{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="{% static 'img/banner.jpg' %}" alt="banner"
             class="img-fluid rounded-5 col-1 me-2" width="w-25">
        <a class="navbar-brand" href="{% url "insu_dashboard" %}"> InsuMate </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li id="nav_dashboard" class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "insu_dashboard" %}">Dashboard</a>
                </li>
                <li id="nav_stats" class="nav-item">
                    <a class="nav-link" href="{% url "statistics" %}">Stats</a>
                </li>
                <li id="nav_calculator" class="nav-item">
                    <a class="nav-link" href="{% url "calculator" %}">Calculator</a>
                </li>
                <li id="nav_profile" class=" nav-item">
                    <a class="nav-link" href="{% url "profile" %}">Profile</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler text-bg-light float-end" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-btn btn btn-outline-warning float-end" href="{% url "logout" %}">Logout</a>
    </div>
</nav>