{% extends 'base/base.html' %}

{% block customjs %}
    <script>
        $(document).ready(function () {
            function updateInputs(value) {
                let factor = parseFloat($('#id_factor').val().replace(',', '.'));

                let suggestedCE = value * factor;

                $('#{{ form.KE.auto_id }}').val(suggestedCE.toFixed(2));
            }

            // Event-Listener für die Inputs
            $('#id_estimated_ce').on('input', function () {
                updateInputs($(this).val());
            });
            updateInputs(10);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid card shadow-lg col-12 col-md-6 my-5">
        <div class="card-header">
            <h2>Add new MealEntry</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="container-fluid">
                    <small>
                        <i class="bi-info-circle-fill me-2"></i>Based on your profile the current Factor is:
                    </small>
                    <div class="row mb-3 mt-2">
                        <div class="form-floating col-6">
                            <input id="id_timeofday" class="form-control" readonly value="{{ time_of_day }}">
                            <label for="id_timeofday">Factorname:</label>
                        </div>
                        <div class="form-floating col-6 mb-3">
                            <input id="id_factor" class="form-control" readonly value="{{ current_factor }}">
                            <label for="id_factor">Factor:</label>
                        </div>
                        <hr>
                        <small><i class="bi-info-circle-fill me-2"></i>Please enter here your estimated CE for your
                            Meal:</small>
                        <div class="form-floating col-6 mt-2">
                            <input type="number" id="id_estimated_ce" class="form-control" placeholder="10" autofocus>
                            <label for="id_estimated_ce">Estimated CE:</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <small><i class="bi-info-circle-fill me-2"></i>The following will then be added to your meal
                        list:</small>
                    <div class="form-floating mt-2">
                        {{ form.name }}
                        <label for="{{ form.name.auto_id }}">Meal Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.KE }}
                        <label for="{{ form.KE.auto_id }}">CE</label>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 float-end"><i class="bi-floppy2-fill"></i> Save
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}