{% extends "base/base.html" %}
{% block content %}
    {% now "H" as current_time %}
    <div>
        <h1>Good
            {% if current_time|add:0 >= 17 %}
                evening
            {% elif current_time|add:0 >= 12 %}
                afternoon
            {% else %}
                morning
            {% endif %}
            {{ user }}
        </h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="card shadow-lg m-1 col-11 col-md-5">
                <div class="card-header mt-2">
                    <div>Last searches:</div>
                    <small class="small text-warning-emphasis">just the last 5 searches</small>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for entry in recent_searches %}
                            <li class="list-group-item">
                                <a href="{% url "calculator" entry.barcode %}" class="link-body-emphasis">
                                    {{ entry.timestamp|date:"H:i" }} - {{ entry.name }}
                                </a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">Your search list is empty 🥲</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="card shadow-lg m-1 col-11 col-md-5">
                <div class="card-header mt-2">
                    <div>Meal-List:</div>
                    <small class="small text-warning-emphasis">just the last 30 Minutes</small>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for entry in recent_entries %}
                            <li class="list-group-item">
                                {{ entry.timestamp|date:"H:i" }} - {{ entry.name }} - {{ entry.KE }} ICE
                                <a href="{% url "delete-entry" entry.id %}" methods="post"
                                   class="float-end link-body-emphasis"><i
                                        class="bi-trash"></i></a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">No entries in the last 30 Minutes 🙂</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="form-floating">
                        <input class="form-control" id="id_sum" value="{{ sum }}" readonly>
                        <label for="id_sum">Sum</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}