{% extends "base/base_min.html" %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center my-5">
        <div class="container">
            <h1>Welcome to InsuMate</h1>
            <div class="card shadow-lg bg-dark col-6">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" id="id_username" name="username"
                                   placeholder="Username">
                            <label for="id_username">Username</label>
                        </div>
                        <div class="form-floating ">
                            <input class="form-control" type="password" id="id_password" name="password"
                                   placeholder="Password">
                            <label for="id_password">Password</label>
                        </div>
                        <button class="form-control btn btn-light btn-outline-success" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}