{% extends "base/base_min.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-center my-5">
            <div class="container col-12 col-sm-5">
                <h1 class="text-center">Welcome to InsuMate</h1>
                <div class="mt-4 mb-4 col-12 col-sm-8 container-fluid">
                    <img src="{% static 'img/banner.jpg' %}" class="img-thumbnail rounded-5" alt="banner">
                </div>
                <div class="card shadow-lg bg-dark mt-2">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" id="id_username" name="username"
                                       placeholder="Username">
                                <label for="id_username">Username</label>
                            </div>
                            <div class="form-floating ">
                                <input class="form-control" type="password" id="id_password" name="password"
                                       placeholder="Password">
                                <label for="id_password">Password</label>
                            </div>
                            <button class="form-control btn btn-success btn-outline-light mt-2 mb-2" type="submit">Login
                            </button>
                        </form>
                        <hr>
                        <div class="align-items-end justify-content-end float-end opacity-75">
                            <small class="text-warning">No login? Use this register form<br></small>
                            <a class="btn-sm btn btn-outline-warning float-end" href="{% url "register" %}">Register now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}