{% extends "base/base.html" %}
{% block content %}
    <div class="container-fluid card shadow-lg col-6">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ quicksearchform }}
                <button type="submit" class="mt-2 btn btn-primary float-end">Search</button>
            </form>
        </div>
    </div>
    <div class="container-fluid mt-4 col-6">
        {% if product_info %}
            <h3>{{ product_info.name }}</h3>
            <p>Kohlenhydrate: {{ product_info.carbs|default:"Keine Angabe" }} g pro 100g</p>
        {% elif product_info == None %}
            <div class="border-danger">
                <h3 class="text-danger">Nothing Found</h3>
            </div>
        {% endif %}
    </div>
{% endblock %}