{% extends "base/base.html" %}
{% block content %}
    <div class="container-fluid card shadow-lg col-12 col-sm-6 my-5">
        <div class="card-header">
            <div class="h2">Quick Search</div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% for field in quicksearchform %}
                    <div class="form-group form-floating m-3">
                        {{ field }}
                        {{ field.label_tag }}
                    </div>
                {% endfor %}
                <button type="submit" class="mt-2 btn btn-primary float-end">Search</button>
            </form>
        </div>
    </div>
    {% if product_info %}
        <div class="container-fluid mt-4 col-12 col-sm-6 card">
            <div class="row">
                <h3>{{ product_info.name }}</h3>
                <p>Kohlenhydrate: {{ product_info.carbs|default:"Keine Angabe" }} g pro 100g</p>
                <div class="col-9"></div>
                <div class="col-3">
                    <a class="btn btn-primary float-end m-3" href="{% url "calculator" product_info.code %}">Calc</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}